/*******************
Dependency overrides
********************/

// Font Awesome

$fa-font-path:                '../fonts' !default;
$fa-font-size-base:           var(--global__sizing__body-font-size--default) !default;
$fa-border-color:             color-var(--global__colors__gray-light) !default;
$fa-li-width:                 2em !default;
$fa-fw-width:                 (20em / 16) !default;
