@import 'variables', 'mixins';

html {
    height: 100%;
    @include fluid-value-set(font-size, --global__sizing__spacer-root);
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    @include fluid-value-set(font-size, --global__sizing__body-font-size);

}

.wrap {
    flex: 1 0 auto;
    overflow: hidden;
}

.container {
    max-width: $container-max-width;
}
